.login-form {
  border: 1px solid black;
  width: 500px;
  height: 200px;
  background-color: lightgrey;
  margin: auto;
}

.login-username-textfield {
  margin-top: 15px;
  height: 30px;
  width: 195px
}

.login-password-textfield {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 195px;
}

.login-page-buttons {
  margin: 10px
}

.login-button {
  height: 50px;
  width: 100px;
  margin-right: 5px
}

.registration-button {
  height: 50px;
  width: 100px;
}
