<mat-sidenav-container class="sidenav-container">
  <div style="height: 20px"></div>
  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened class="drawer-content">Menü
      <div style="height: 100px"></div>
      <p>
        <button class="menu-buttons-sidebar">A</button>
      </p>
      <p>
        <button class="menu-buttons-sidebar">B</button>
      </p>
      <p>
        <button class="menu-buttons-sidebar">C</button>
      </p>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">Hallo, [PLATZHALTER_VORNAME]</mat-drawer-content>
  </mat-drawer-container>
</mat-sidenav-container>

